/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 
 *= require bootstrap_and_overrides
 *= require_tree .
 *= require_self

 *= require 'css3-progress-bar'
 *= require bootstrap-wysihtml5
 */
body {
  padding-top: 20px;
  font-size: 14px;
  background: #fff;
}

.lead {font-size: 24px;}

.extra-pad {padding: 15px 0;}

.navbar-inverse .navbar-inner {
  padding:10px 0;
  background: #772200;
  
}
.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  color:#ffcc00;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  font-family: 'Kite One', serif;
}

#progressbar {
  width: 400px;
}

#response_green {
  color: green;
}

#response_red {
  color: red;
}